

@import url('https://fonts.googleapis.com/css2?family=Crete+Round:ital@0;1&family=Rubik+Bubbles&display=swap');

*{
    
}
:root{
    --tema : #A3E2E6;
    --tema_fundo : #E6C9B9;
    --parte_escura : rgb(23, 78, 71);
    --fonte_padrao : #000;
    --fonte_titulo : #9F17E6;
    --fonte_hover  : white;
    --back : white;
}
body{
    padding: 0px;
    margin: 0px;
    background-color: var(--back);
    font-family: 'Crete Round', serif;
    --tema2 : red;
    color: var(--fonte_padrao);
}


#topo{
    height: auto;
    position: fixed;
    width: 100%;
    background: var(--tema);
    box-shadow: 1px 0px 5px black;
    
}
ul{
    display: block;
    margin-bottom: 0px;
    
}

a{
    
}

li{
    display: inline-block;
    margin-right: 10px;
    padding: 10px;
    padding-bottom: 20px;
    transition: all .5s;
    border-radius: 5px 5px 0px 0px;
    
}
li:hover{
    background-color: var(--parte_escura);
    color: var(--tema_fundo);
}
h1{
    font-family: 'Sans Serif', cursive;
    margin-top: 0px;
    padding: 20px;
    text-align: center;
    color: var(--fonte_titulo);
}

img{
    max-width: 500px;
    max-height: 400px;
    transition: all 1s;
}


#corpo{
    max-width: 600px;
    margin: auto;
    border: 1px solid black;
    background-color: var(--tema_fundo);
    padding: 10px;
}

/******************************TABELA*******************************************/
.tabela{
    
    border-collapse: collapse;
    border-color: var(--tema);
    width: 100%;
    background: white;
    font-size: 1.2em;
    
}
tr{
    transition: all .5s;
}
th{
    color: var(--fonte_titulo);
}
tr:nth-child(even) {
    background-color: #d4f1f7;
}
tr:hover{
    background-color: rgb(212, 212, 212);
}
/******************************FORMULARIOS*************************************/
.form{
    border: 1px solid var(--tema);
    border-radius: 10px 0px 10px 0px;
    background-color: var(--tema_fundo);
    padding: 20px;
    font-size: 1.3em;
    box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.493);
}
.input_dados{
    width: 100%;
    padding: 5px;
    border: none;
    border-radius: 10px;
}
.input_dados:hover{
    outline: 2px solid var(--tema);
}
.input_dados:focus{
    outline: 1px solid var(--tema);
}
.input_submit{
    background-color: var(--fonte_titulo);
    padding: 10px;
    color: white;
    margin: 20px;
}
.ajusta_submit{
    text-align: center;
}
input[type=range]{

}