@import url('https://fonts.googleapis.com/css2?family=Rubik+Bubbles&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Crete+Round:ital@0;1&family=Rubik+Bubbles&display=swap');


:root{
    --tema : #A3E2E6;
    --tema_fundo : #E6C9B9;
    --parte_escura : rgb(23, 78, 71);
    --fonte_padrao : #000;
    --fonte_titulo : #9F17E6;
    --fonte_hover  : white;
    
}
body{
    padding: 0px;
    margin: 0px;
    background-color: var();
    font-family: 'Crete Round', serif;
}

#topo{
    height: 150px;
    background: var(--tema);
}
ul{
    display: block;
    
    
}
li{
    display: inline-block;
    margin-right: 10px;
    padding: 10px;
    padding-bottom: 20px;
    transition: all .5s;
    border-radius: 5px 5px 0px 0px;
    
}
li:hover{
    background-color: var(--parte_escura);
    color: var(--fonte_hover);
}
h1{
    font-family: 'Rubik Bubbles', cursive;
    margin-top: 0px;
    padding: 20px;
    text-align: center;
    color: var(--fonte_titulo);
}